body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    
    background-color: #181818; /* Fond sombre */
    color: #e0e0e0; /* Texte clair */
}

nav {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-logo {
    max-width: 100px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}



.return-link {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1rem; /* Taille de texte plus discrète */
    color: #e0e0e0; /* Couleur claire pour le texte */
    text-decoration: none; /* Retirer la décoration de texte */
    padding: 8px 12px; /* Espacement léger */
    background-color: transparent; /* Pas de fond */
    border: 1px solid #e0e0e0; /* Bordure discrète de la même couleur que le texte */
    border-radius: 5px; /* Coins arrondis */
    transition: color 0.3s ease, border-color 0.3s ease; /* Transition douce pour la couleur */
}

.return-link:hover {
    color: #00aaff; /* Changer la couleur du texte au survol */
    border-color: #00aaff; /* Changer la couleur de la bordure au survol */
}



h1 {
    margin: 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

main {
    max-width: 900px;
    margin: 20px auto;
    background: #2c2c2c; /* Fond des sections plus clair */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
h1, h2 {
    color: #00aaff; /* Bleu clair */
}
a {
    color: #00aaff;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
section {
    margin-bottom: 20px;
    background: #3a3a3a; /* Sections plus claires */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

    a {
        color: #bb86fc;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    .footer {
        background: transparent; /* Rendre le fond transparent */
        color: #e0e0e0;
        text-align: center;
        padding: 10px;
        margin-top: 20px;
        font-size: 18px; 
        font-weight: bold; 
    }
    .footer a {
        margin: 0 10px;
        color: #bb86fc;
        font-size: 18px; 
        font-weight: bold; 
    }
    .social-icons a {
        font-size: 24px;
        margin: 0 10px;
        color: #bb86fc;
        text-decoration: none;
        transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    }
    
    .social-icons a:hover {
        color: #ffffff;
        transform: scale(1.2);
    }